body
{
    /* 背景色指定 */
 background-color:#CC66CC;
 color:#cccccc;
 }

 div.title
 {
    position:absolute;
    top:1em;
    left:20em;
    padding: 0px;
 }

 div.imgt 
 {
    position:absolute;
    top:7em;
    left:30em;
    width:100m;
    height:100em;
    padding: 0px;
 }

 div.honbun
 {
    position:absolute;
    top:32em;
    left:25em;
    padding: 0px;
 }
 
 p.title 
 {
     font-family: 'Arial Black','ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
     color: #eaf4fc;
     font-size:4em;
     line-height:80%;
     margin: 0px;
 }

 p.honbun 
 {
    font-family: 'Arial Black','ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
    color: #eaf4fc;
    font-size:4em;
    margin: 0px;
}

 div.menu 
 {
     position:absolute;
     top:4em;
     left:3em;
     border:1px solid;
     padding:10px;
     font-size: 2em;
     line-height:120%;
     font-family: 'Arial Black','ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
     color:#cccccc;
     background-color:black;
 }